body {
  background-color: rgb(175, 88, 238);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.tasks_table {
  width: 60%;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.header {
  width: 100%;
  background-color: indigo;
  color: white;
  padding: 10px 0;
  font-size: 1.5em;
}

.title {
  display: inline;
}

#add_btn {
  float: right;
  margin-top: 3px;
  color: indigo;
  margin-right: 10px;
  border: none;
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  cursor: pointer;
}

.task {
  display: flex;
  background-color: #ddd;
  margin: 8px;
  padding: 8px;
  border-bottom: solid 1px #535151;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.task.done {
  background-color: #30f719;
}

.content {
  text-align: start;
  width: 70%;
  padding-left: 4px;
}

.task:hover {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.actions {
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}

button.complete,
button.cancel,
button.edit,
button.delete {
  border-radius: 50%;
  border: none;
  color: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 2px;
}

button.complete {
  background-color: green;
}

button.cancel {
  background-color: rgb(238, 44, 44);
}

button.edit {
  background-color: blue;
}

button.delete {
  background-color: red;
}
